@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/robotoslab/v25/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts.gstatic.com/s/robotoslab/v25/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4Omb2Rm.ttf) format('truetype');
}

#docs-body, #docs-sidebar {font-size:1.0em} #header, #docs-sidebar, #nav, #footer, #docs-header {display:none !important} #docs-body h1 {line-height:2em} #fixed-sidebar {display:none !important} .headerlink {display:none !important} #docs-body {border:none !important} #docs-body-container {border:none !important} body {margin: 0 20px !important; background-color:white !important} #docs-container {font-size:100%} #main-body {padding-top:0px !important} #wrap {max-width:none !important; min-width:none !important} #MathJax_Message {display:none !important} #docs-container {max-width:none !important} .navbar {display:none !important}
